<ion-header>
  <ion-navbar color="light">
    <ion-buttons left>
      <button ion-button icon-only (tap)="viewCtrl.dismiss()" clear>
        <ion-icon name="close" class="modal-close-button"> </ion-icon>
      </button>
    </ion-buttons>
    <ion-title> Hospitals </ion-title>
    <ion-buttons end permission dataKeep="CREATE_CUSTOM_HOSPITAL">
      <button ion-button color="primary" (click)="createHospital()">
      Create
    </button>
      <!-- <button ion-button (click)="selectHospital()" [disabled]="isValid()">
      Select
    </button> -->
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar permission dataKeep="HOSPITAL_SELECTION">
    <ion-segment [(ngModel)]="segment" (ionChange)="updateHospitals()">
      <ion-segment-button value="cloud">
        Public
      </ion-segment-button>
      <ion-segment-button value="local">
        Custom
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list radio-group [(ngModel)]="selectedHospital">
    <div *ngFor="let hospital of hospitals;">
      <ion-item *ngIf="hospital.isCustom" (click)="checkItem(hospital)" [ngClass]="isSelected(hospital)">
        <h3>{{hospital.hospitalDetail.name}}</h3>
        <p [innerHtml]="helper.getAddress(hospital.hospitalDetail)"></p>
        <ion-icon [name]="hospital.icon" item-right></ion-icon>
        <!-- <button ion-button color="danger" outline item-right>Waiting for Review</button> -->
        <span item-right class="review-status-text" [ngClass]="hospital.approvalStatus == 'rejected' ? 'rejected-text' : ''">
          {{getApprovalStatusText(this.hospital.approvalStatus)}}
        </span>
      </ion-item>
      <ion-item *ngIf="segment == 'cloud'" (click)="checkItem(hospital)" [ngClass]="isSelected(hospital)">
        <h3>{{hospital.name}}</h3>
        <p [innerHtml]="helper.getAddress(hospital)"></p>
        <ion-icon [name]="hospital.icon" item-right></ion-icon>
      </ion-item>
    </div>

  </ion-list>
</ion-content>
<ion-footer colo="primary">
  <button ion-button block color="primary" (click)="selectHospital()" [disabled]="isValid()" class="save-button">
      Next
    </button>
</ion-footer>
