page-add-entity {
  .header-md::after {
    background-image: unset;
  }

  .content-md .scroll-content {
    margin-top: 145px;
  }

  ion-navbar {
    border-bottom: 1px solid #ddd;
  }

  .title{
    text-transform: capitalize;
  }

  .header {
    border-bottom: 1px solid #ddd;
  }

  .back-button {
    font-size: 1.1em;
    display: block;
  }

  .list-md .item .entity {
    padding-left: 15px !important;
  }

  .calendar-icon {
    padding: 0 15px;
    font-size: 1.35em;
  }

  .content-ios .scroll-content {
    margin-top: 155px;
  }

  .billed-entity {
    background-color: #ececec;
  }

  /deep/ .notes-title {
    font-size: 1.1em !important;
    padding: 10px 0;
  }

  ion-title{
    text-transform: capitalize;
  }

  .edit-buttton {
    float: right;
    font-size: 1.5em;
  }

  .scroll-content {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .time-button {
    margin: 0;
    width: 100%;
    border-radius: 0;
    font-weight: bold;
    color: #4c4c4c;
    background-color: #f4f4f4;
  }

  .time-button:disabled {
    background-color: #e7e7e7 !important;
  }
  ion-buttons {
    margin: 0;
  }

  .entity,
  .entity-container {
    display: flex;
    flex: 1;
    justify-content: flex-start;
  }

  .gray-entity {
    background-color: #ececec;
  }

  .entity-container {
    flex-direction: row;
    align-items: center;
    padding: 4px;
  }

  .footer-button{
    text-align: center;
    background-color: #f1f1f1;
    height: 100%;
  }

  .entity {
    justify-content: space-between;
    flex-direction: column;
    color: #4c4c4c;
    line-height: 25px;

    .code {
      font-size: 0.85em;
    }

    .name {
      font-weight: 600;
    }
  }

  .searchbar {
    width: 100%;
    display: inline-flex;
  }

  .searchbar-container .toolbar-content {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }

  .searchbar-ios {
    background-color: transparent !important;
    border-radius: 10px;
    height: 30px;
    min-height: 30px;
  }

  .searchbar-container .toolbar-md {
    min-height: unset;
  }

  ion-searchbar {
    background-color: white !important;
    border-radius: 10px;
    margin: 0 6px;
    height: 30px;
    min-height: 30px;

    .searchbar-input {
      color: black !important;
    }

    .searchbar-ios-cancel .button-inner,
    .searchbar-md-cancel .button-inner {
      color: red;
    }
  }

  .options {
    font-size: 2.2em;
  }

  .fav-icon {
    font-size: 2em;
    padding: 4px;
  }

  .icon-close {
    font-size: 2em;
    margin-left: 10px;
  }

  .item-cover {
    width: calc(100% - 40px);
  }
}
