<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="viewCtrl.dismiss()"><ion-icon name="ios-arrow-back-outline"></ion-icon> Back </button>
    </ion-buttons>
    <ion-title>
      {{isEdit ? 'Edit Hospital' : 'Add Hospital'}}
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="saveHospital()" [disabled]="!isFormValid(createHospitalForm)">Save</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <form #createHospitalForm="ngForm" novalidate>
      <ion-item>
        <ion-label stacked color="primary" class="required-input">Name</ion-label>
        <ion-input autocomplete="on" autocorrect="on" [(ngModel)]="hospital.name" name="name" type="text" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked color="primary" class="required-input">Short Name</ion-label>
        <ion-input autocomplete="on" autocorrect="on" [(ngModel)]="hospital.shortname" type="text" name="shortname" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked color="primary" class="required-input">Address 1</ion-label>
        <ion-input autocomplete="on" autocorrect="on" [(ngModel)]="hospital.address1" type="text" name="address1" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked color="primary">Address 2</ion-label>
        <ion-input autocomplete="on" autocorrect="on" [(ngModel)]="hospital.address2" type="text" name="address2">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked color="primary">City</ion-label>
        <ion-input autocomplete="on" autocorrect="on" [(ngModel)]="hospital.city" type="text" name="city">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked color="primary">State</ion-label>
        <ion-input autocomplete="on" autocorrect="on" [(ngModel)]="hospital.state" type="text" name="state">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked color="primary">Zipcode</ion-label>
        <ion-input autocomplete="on" autocorrect="on" [(ngModel)]="hospital.zipcode" type="text" name="zipcode">
        </ion-input>
      </ion-item>
      <ion-item>
       Map Location for auto selection of hospital
       <button ion-button outline item-right icon-left (click)="openLocationSelection()">
         <ion-icon name="map"></ion-icon>
           <span *ngIf="hospital.lat && hospital.long">Change</span>
           <span *ngIf="!hospital.lat && !hospital.long">Set</span>
        </button>
      </ion-item>
    </form>
  </ion-list>
</ion-content>
