<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button (click)="dismiss()">Cancel</button>
    </ion-buttons>

    <ion-title>
      Add Location
    </ion-title>

    <ion-buttons end>
      <button ion-button (click)="saveLocation()" type="submit">Set</button>
    </ion-buttons>

  </ion-toolbar>
  <ion-searchbar [(ngModel)]="autocomplete.query" [showCancelButton]="true" (ionInput)="updateSearch()" style="z-index:99"></ion-searchbar>
  <ion-list class="list-background">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="chooseItem(item)">
      {{ item }}
    </ion-item>
  </ion-list>
</ion-header>

<ion-content class="outer-content">
  <div #map id="map"></div>
</ion-content>
