page-roles-management {
  .scroll-content {
    padding-bottom: 40px !important;
  }

  .content {
    padding: 8px 12px !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
  }

  .permission-section {
    margin-bottom: 20px;
    display: flex;
    min-width: 44% !important;
    flex-direction: column;
    border: 1px solid #ddd;
  }

  .permission-section:last-child {
    align-self: flex-start !important;
    justify-self: flex-start !important;
  }
  @media only screen and (max-width: 620px) {
    .permission-section {
      min-width: 95% !important;
    }
  }
  @media only screen and (min-width: 720px) {
    .permission-section {
      min-width: 40% !important;
    }
  }

  .permission-header {
    padding: 10px;
    background-color: #eaeaea;
    font-weight: bold;
    font-size: 16px !important;
    color: #333;
  }

  .checkbox {
    transform: scale(1.2);
  }

  .permission-types {
    color: #444;
    padding: 6px 10px 5px 10px !important;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    font-size: 15px;
    padding: 11px 10px !important;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaea;
  }

  ion-col {
    text-align: center !important;
  }

  .table-header {
    background: whitesmoke;
    font-weight: normal;
  }

  .expand-options-icon {
    float: right;
  }
}
