<ion-header>
  <ion-navbar hideBackButton="true" [color]="isModal ? 'light' : 'primary'">
    <button ion-button menuToggle *ngIf="!isModal">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons left>
      <button ion-button *ngIf="isModal" clear color="dark" (click)="viewCtrl.dismiss()">
        <ion-icon name="close" class="modal-close-button"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons end permission dataKeep="ASSIGN_PERMISSIONS">
      <button ion-button (click)="save()">
        Save
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <no-results *ngIf="!permissions" icon="alert" text="No Roles Added, <br/>Create one now"></no-results> -->

  <!-- <ion-fab bottom right #fab (click)="promptRoleName()" permission dataKeep="CREATE_ROLE">
    <button ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab> -->

  <div padding permission dataKeep="MANAGE_ROLES">
    <div>
      <ion-item>
        <ion-label>Roles</ion-label>
        <ion-select multiple="false" [(ngModel)]="selectedRoleId" (ionChange)="onSelectChange($event)">
          <ion-option [value]="role.userType" *ngFor="let role of roles">{{role.userType}}</ion-option>
        </ion-select>
      </ion-item>
    </div>
  </div>

  <div class="content" *ngIf="selectedRoleId && !helper.hasPermission('MANAGE_ROLES')">
    <div class="permission-section  responsive-sm" *ngFor="let permissionGroup of permissions;let i = index">
      <div class="permission-header" (click)="togglePermissionGroup(permissionGroup, i)">
        <span>{{ permissionGroup.name }}</span>
        <span *ngIf="permissionGroup.isExpanded" class="expand-options-icon">
          <ion-icon name="ios-arrow-dropup"></ion-icon>
        </span>
        <span *ngIf="!permissionGroup.isExpanded" class="expand-options-icon">
          <ion-icon name="ios-arrow-dropdown"></ion-icon>
        </span>
      </div>
      <div *ngIf="permissionGroup.isExpanded">
        <div class="permission-types" *ngFor="let permission of permissionGroup.valueList" permission dataOmit="MANAGE_ROLES">
          {{ permission.displayName }}
          <ion-checkbox [checked]="(supportedRoles||[]).includes(permission.fieldID)" (click)="selectPermission(permission)"></ion-checkbox>
        </div>
      </div>
    </div>
  </div>

  <div class="content" *ngIf="selectedRoleId && helper.hasPermission('MANAGE_ROLES')">
    <div class="permission-section  responsive-sm" *ngFor="let permissionGroup of permissions">
      <div class="permission-header">
        <span>{{ permissionGroup.name }}</span>
      </div>
      <ion-row class="table-header">
        <ion-col>Name</ion-col>
        <ion-col>Doctor Controlled</ion-col>
        <ion-col>Selected</ion-col>
      </ion-row>

      <div class="permission-types" *ngFor="let permission of permissionGroup.valueList">
        <ion-col> {{ permission.displayName }} </ion-col>
        <ion-col>
          <ion-checkbox [checked]="permission.doctorControlled == 'true'" (click)="changeDoctorControlledStatus(permission)"></ion-checkbox>
        </ion-col>
        <ion-col>
          <ion-checkbox [checked]="(supportedRoles||[]).includes(permission.fieldID)" (click)="selectPermissionByAdmin(permission)"></ion-checkbox>
        </ion-col>
      </div>
    </div>
  </div>
</ion-content>
