<ion-header>
  <ion-navbar>
    <ion-title>
      Hospital Cards List
    </ion-title>
    <ion-buttons *ngIf="screenType == 'pendingApprovalList'">
      <button ion-button clear menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
  <div padding *ngIf="screenType != 'pendingApprovalList'">
  <ion-segment [(ngModel)]="currentSegment" (ionChange)="onSegmentChange()">
      <ion-segment-button value="public">
      Public
      </ion-segment-button>
      <ion-segment-button value="custom">
        Custom
      </ion-segment-button>
    </ion-segment>
  </div>
  <ion-list>
    <card-preview *ngFor="let card of cards" [params] = "{ card:card, isCardScanning: (screenType == 'cardSelectionForScanning'), currentSelectedCard: currentSelectedCard, screenType: screenType, currentHospital: currentHospital }" (cardSelectionEmitter)="onCardSelection($event)" (reloadListing)="reloadListing($event)"></card-preview>
  </ion-list>
  <no-results icon="ios-albums-outline" [text]="'No '+ (currentSegment == 'public' ? 'Public' : 'Custom') + ' cards found'" *ngIf="screenType != 'pendingApprovalList' && !cards.length"></no-results>
  <no-results icon="ios-albums-outline" text="No pending card requests" *ngIf="screenType == 'pendingApprovalList' && !cards.length"></no-results>
  <ion-fab bottom right *ngIf="currentSegment == 'custom' && screenType != 'cardSelectionForScanning'">
   <button ion-fab (click)="createNewCard()">
     <ion-icon name="add"></ion-icon>
   </button>
 </ion-fab>
 </div>
 <div>

</div>
</ion-content>
<ion-footer *ngIf="screenType == 'cardSelectionForScanning'">
    <button ion-button (click)="continueCardScanning()" block [disabled]="isContinueBtnDisabled()" class="footer-btn">CONTINUE</button>
</ion-footer>
