<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title>Hospitals</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="switchHospital()" [disabled]="isCurrentHospital()">
        Save
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="hospitalLength">
    <ion-item *ngFor="let hospital of hospitals" [ngClass]="isSelected(hospital.hospitalId)" (click)="selectHospital(hospital)">
      {{hospital.hospitalDetail.name}}
      <p [innerHtml]="helper.getAddress(hospital.hospitalDetail)"></p>
      <ion-icon [name]="isSelectedHospital(hospital.hospitalId)?'md-checkmark':''" item-right></ion-icon>
    </ion-item>
  </ion-list>
  <no-results *ngIf="!hospitalLength" icon="ios-information-circle-outline" text="No Hospitals found"></no-results>
</ion-content>
