<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="viewCtrl.dismiss()">
          <ion-icon name="ios-arrow-back-outline"></ion-icon> Back
        </button>
    </ion-buttons>
    <ion-title>
      Forgot Password
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <form #ForgotPasswordSlide="ngForm" novalidate>
      <h4> Please enter your email address and we'll send you an email to reset your password. </h4>
      <ion-item>
        <ion-label stacked color="primary" class="required-input">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" required></ion-input>
      </ion-item>
    </form>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button block (click)="sendOtp()" [disabled]="ForgotPasswordSlide.invalid" outline>Send OTP</button>
  </ion-toolbar>
</ion-footer>
