// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

button.button.button-ios.button-outline.button-outline-ios.button-block.button-block-ios {
    background-color: white;
}

.avatar-circular {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  box-shadow: 1px 1px 5px rgba(0,0,0, 0.5);
  border: 1px solid #aed4b9;
}

.platform-ios #status-bar-header {
  height: 20px;
  background-color: #5546a3;
}

.required-input::after {
  content: ' *';
  color: red;
}

ion-split-panel.split-panel-visible .menu .scroll-content {
  margin-top: 0 !important;
}

.tabbar {
  opacity: inherit !important;
}


security-card{
  .item-md.activated, .item-ios.activated {
    background-color: unset;
  }

  .pdf-disabled {
    background-color: #ededed !important;
  }

  .pdf-button-disabled {
    background-color: #ccc !important;
    color:black;
  }
}

add-menu{
  .back-button {
    display: block;
  }
}

span.username {
  // background-color: #ffffff;
  padding: 2px 5px;
  border-radius: 3px;
  display: inline-block;
  margin-right: 3px;
  color: color($colors, white);
}

ion-footer.sidemenu-footer {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.10) !important;
  color: rgb(134, 136, 135);
  background-color: white;
}

ion-menu {
  ion-list-header.admin-header.item-md {
    margin-bottom: 0 !important;
  }

  button.primary-light {
    background-color: lighten(color($colors, primary), 45%);
  }

  button.primary-light .item-inner {
    border-bottom: 1px solid lighten(color($colors, primary), 35%) !important;
  }

  button.primary-light ion-icon,
  button.primary-light ion-label {
    color: color($colors, primary) !important;
  }
}

ion-footer.sidemenu-footer strong {
  color: color($colors, primary);
}

ion-footer.sidemenu-footer span {
  background-color: #f4f4f4;
  border-radius: 10px;
  display: inline-block;
  padding: 3px 8px;
  font-weight: bold;
  font-size: 13px;
  float: right;
}

.no-padding {
  padding: 0;
}

ion-app.platform-tablet ion-app.platform-ipad {
  ion-split-panel.split-panel-ios.split-panel-visible .scroll-content {
    margin-top: 0 !important;
  }
}

.ticket-type {
  width: 100%;

  div {
    background-color: lighten(color($colors, danger), 10%);
    padding: 8px 0 12px;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    margin: 0 50px -20px;
    border-radius: 10px 10px 0 0;
    box-shadow: inset 0 -3px 10px rgba(0, 0, 0, 0.25);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    text-align: center;
  }

  div.full-day {
    background-color: lighten(color($colors, secondary), 10%);
  }
}

.network {
  text-align: center;
  color: white;
}
.connected {
  background-color: color($colors, secondary);
}

.disconnected {
  background-color: color($colors, dark);
}

.margin-bottom {
  margin-bottom: 10px;
}

ion-card.ticket {
  position: relative;
  overflow: visible;
  border-radius: 10px;

  ion-card-header.header {
    color: color($colors, primary);
    text-align: center;
    font-size: 2.5rem !important;
    font-weight: bold;
  }

  ion-card-header {
    position: relative;
    overflow: visible;
    border-bottom: 2px dashed lighten(color($colors, dark), 70%);
  }

  ion-card-header.card-header:after,
  ion-card-header.card-header:before {
    background-color: lighten(color($colors, dark), 50%);
    position: absolute;
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    bottom: 0;
    margin-bottom: -10px;
  }

  ion-card-header.card-header:before {
    left: 0;
    margin-left: -10px;
  }

  ion-card-header.card-header:after {
    right: 0;
    margin-right: -10px;
  }
}

.pdf-password .alert-wrapper input {
  -webkit-text-security: disc;
}

.margin-left {
  margin: 3px;
}

page-entity-lookup .searchbar-ios .searchbar-search-icon, page-add-entity .searchbar-ios .searchbar-search-icon{
  background-image: url('data:image/svgxml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 13"><path fill="rgba(0, 0, 0, 0.5)" d="M5,1c2.2,0,4,1.8,4,4S7.2,9,5,9S1,7.2,1,5S2.8,1,5,1 M5,0C2.2,0,0,2.2,0,5s2.2,5,5,5s5-2.2,5-5S7.8,0,5,0 L5,0z"/><line stroke="rgba(0, 0, 0, 1)" stroke-miterlimit="10" x1="12.6" y1="12.6" x2="8.2" y2="8.2"/></svg>') !important;
}

.modal-close-button {
  padding: 5px !important;
  font-size: 2.5em !important;
}

.sort-options .action-sheet-title {
  font-size: 1.5em !important;
  border-bottom: 0;
  color: #41414e;
  margin-bottom: -6px;
}

.sort-options .action-sheet-sub-title {
  border-bottom: 0.55px solid #d6d6da;
  color: #242425;
}

.sort-button .button-inner {
  padding-left: 15px;
}

.toast-success .toast-container:before {
  content: "\f3ff";
  background-color: color($colors, secondary);
  text-align: center;
  border-radius: 19px;
  height: 18px;
  width: 18px;
  padding-bottom: 7px;
  padding-right: 4px;
  padding-left: 3px;
  margin: 8px;
  font-family: "Ionicons";
  font-size: 1.8em;
  color: #fff;
}

.toast-success .toast-message {
  padding-left: 10px;
}

.sub-header-light{
  text-align: center;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: color($colors, light);
}

   ion-select.select-follow-up {
   color: #0e0e0e;
   border: 0.5px solid #9c9ca7;
   border-radius: 5px;
   padding: 6px;
   margin: 7px;
   z-index: 1;
}

add-hospital {
  .label{
    margin-left: 0 !important;
  }
}

.btn-outline-primary{
  border: 1px solid color($colors, primary) !important;
  color: color($colors, primary) !important;
}

.badge-button{
  padding:5px 10px;
}

.badge-button-small{
  padding:5px 10px;
  font-size: 1.4rem;
}

.light-background{
  background-color: #eee !important;
}

page-hospital, user-hospital, hospital-list{
  .fab .icon {
    font-weight: bold;
    font-size: 3.2rem;
  }
}

record-settings-page {
  .flexy-button {
    width: 45%;
  }

  .flex-center{
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .disable-activated-color.activated{
    background-color: #eee !important;
    color:#2C4099 !important;
  }
}

.marked-option{
  .button-inner:before{
    content: "\f2bc";
    font-family: "ionicons";
    padding-right: 10px;
  }
}

.text-block p {
  text-align: justify;
}

record-settings-page {
  .flexy-button {
    width: 45%;
  }

  .flex-center{
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .disable-activated-color.activated{
    background-color: #eee !important;
    color:#2C4099 !important;
  }
}
.center{
  text-align: center !important;
}
