page-billed-record {
  .label-background {
    width: 100%;
    margin: 0;

    .label-text {
      height: 30px;
      text-align: center;
      background-color: green;
      padding: 7px 0 1px;
      font-size: 1.1em;
    }
  }

  .patient-card{
    padding-top: 10px !important;
    padding-bottom: 5px !important; 
  }

  .scroll-content {
    background-color: white !important;
    margin-top: 192px !important;
    padding-top: 10px !important;
    overflow-y: scroll !important;
  }

  ion-navbar {
    border-bottom: 1px solid #ddd;
  }

  .patient-info-ios {
    height: 202px !important;
    padding-top: 20px !important;
    padding-bottom: 15px !important;
  }

  .button-close{
    float:right;

    button {
      font-size: 1.2em;
      background-color: lighten(color($colors,primary), 15);
      border-radius: 50%;
      width: 30px;
      height: 30px;
      margin-top: -3px;
    }
  }

  .sub-header-light {
    background-color: white;
    color: #828282;
    font-size: 1.1em;
  }

  .sub-header-ios{
    padding-top: 10px;
  }

  .name {
    font-size: 1em !important;
  }

  .background-white .toolbar-background {
    background-color: white !important;
  }

  .billed-date {
    background-color: #efefef;
    padding: 4px 4px 4px 10px;
    height: 25px;
    font-size: 1em;
  }

  .patient-info {
    margin-bottom: 10px;
    background-color: color($colors,primary);
    color: #ffffff;
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 190px;
    top: 0;
    box-shadow: 0 5px 5px rgba(0,0,0,0.25);
  }
}
