<ion-header color="primary">
  <ion-navbar hideBackButton="true" color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>InPatient Tracker</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (tap)="toggleSearchBar()">
        <ion-icon name="search"></ion-icon>
      </button>

      <button ion-button icon-only (tap)="selectFilterBy($event)">
        <ion-icon name='options' class="options-button"> </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar class="options-toolbar">
    <ion-searchbar *ngIf="showSearchBar" [(ngModel)]="query" autocomplete="on" showCancelButton="true" placeholder="Search" (ionCancel)="toggleSearchBar()"></ion-searchbar>
    <ion-list-header class="hospital-name" color="light" (tap)="selectHospital()" permission dataKeep="HOSPITAL_SWITCH">
      <span *ngIf="currentHospital.hospitalId"> {{ this.currentHospital.shortname }} </span>
      <span *ngIf="!currentHospital.hospitalId"> Select/Add Hospital </span>
      <span *ngIf="(patients | search : query : searchKeys).length && !showSearchBar">
        ({{ selectedPatientsCount }}/{{ (patients | search : query : searchKeys).length  }})
      </span>
    </ion-list-header>

    <ion-list-header class="hospital-name" color="light" (tap)="selectDoctor()" permission dataKeep="SWITCH_DOCTOR">
      <div class="label-background">
        <span *ngIf="currentDoctor && !currentDoctor.connectedUserAliasName">No Doctors found</span>
        <div *ngIf="currentDoctor && currentDoctor.connectedUserAliasName" class="sub-header-light" color="light">{{ currentDoctor.connectedUserAliasName }}</div>
      </div>
    </ion-list-header>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [ngClass]="showSearchBar ? 'has-subheader' : ''" id="patient-listing">
    <ion-item *ngFor="let patient of patients | search : query : searchKeys; let i = index" [ngClass]="getItemClass(patient)" #patients style="padding:0">
      <div item-content class="patient-item">
        <div class="patient-data" (tap)="viewPatientDetails(patient)">
            <h2> {{ patient.patientName }} </h2>
            <h4> updated : {{ moment(patient.lastModified).format("MM/DD/YYYY") }} </h4>
        </div>
      </div>
    </ion-item>
    <no-results *ngIf="!patients.length" icon="ios-contact-outline" text="No Patients found"></no-results>
  </ion-list>
</ion-content>

<ion-footer id="footer-menu">
  <footer-menu></footer-menu>
</ion-footer>
