card-preview{
  .btn-text{
    margin-left: 5px !important;
  }
  .check-mark-img{
    height: 90px ;
    width: 100px;
  }
  .overlay-img-ctr{
    top: 35px;
    bottom: 0;
    left: 34%;
    position: absolute;
    transition: .3s ease;
  }
  ion-card{
    position: relative !important;
  }
}
