<ion-header>
  <ion-navbar color="light">
    <ion-title> Record Settings </ion-title>
    <ion-buttons end>
      <button ion-button (tap)="saveRecordSettings()" [disabled]="checkIsSaveable()">
      Save
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group [reorder]="reorder" (ionItemReorder)="reorderItems($event)">
      <ion-item *ngFor="let type of recordSettings">
        <ion-label> {{ type.label }}</ion-label>
        <ion-toggle *ngIf="showSwitch" [(ngModel)]="type.isEnabled" item-end> </ion-toggle>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-buttons>
    <button ion-button outline (click)="disableReordering()" block *ngIf="!showSwitch" class="disable-activated-color">
      Done
    </button>
    <button ion-button outline block *ngIf="showSwitch" (click)="enableReordering()" class="disable-activated-color">
      Re-Order Records
    </button>
  </ion-buttons>
</ion-footer>
