<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle="left">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Analytics
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <div class="form-container">
    <div class="date-container">
      <ion-item>
        <ion-label stacked color="primary"> Start Date </ion-label>
        <ion-datetime name="startDate" displayFormat="DD-MMM-YYYY" pickerFormat="DD-MMM-YYYY" [(ngModel)]="startDate" [max]="maxDate" required> </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label stacked color="primary"> End Date </ion-label>
        <ion-datetime name="endDate" displayFormat="DD-MMM-YYYY" pickerFormat="DD-MMM-YYYY" [(ngModel)]="endDate" [min]="startDate" [max]="maxDate" [max]="maxDate" required> </ion-datetime>
      </ion-item>
      <button ion-button color="danger" class="go-button" [disabled]="!currentHospital.hospitalId" (tap)="getAnalytics()"> Go </button>
    </div>
    <div class="hospital-selection" (tap)="openOptions()">
      <div class="hospital"> Hospital </div>
      <ion-select multiple="true" [selectOptions]="selectOptions" [(ngModel)]="currentHospital" [multiple]="false">
        <ion-option *ngFor="let hospital of hospitals" [value]="hospital"> {{ hospital.hospitalDetail.shortname }} </ion-option>
      </ion-select>
    </div>
  </div>

<div class="container">
  <div class="item-list patient-count">
    <div class="header">
      <div class="header-title"> Patients </div>
      <div class="count"> Count </div>
    </div>
    <div class="items">
      <div class="list-item">
        <div class="title"> Total </div>
        <ion-badge color="light"> {{ analyticsResponse.totalPatients }} </ion-badge>
      </div>
      <div class="list-item">
        <div class="title"> Active </div>
        <ion-badge color="light"> {{ analyticsResponse.totalActive }} </ion-badge>
      </div>
      <div class="list-item">
        <div class="title"> Billed </div>
        <ion-badge color="light"> {{ analyticsResponse.totalInArchieve }} </ion-badge>
      </div>
      <div class="list-item">
        <div class="title"> Cart </div>
        <ion-badge color="light"> {{ analyticsResponse.totalInCart }} </ion-badge>
      </div>
    </div>
  </div>

  <div class="item-list" *ngFor="let item of _.keys(analyticsResponse)" [hidden]="!(_.keys(analyticsResponse[item]).length)">
        <div class="header">
          <div class="header-title"> {{ itemTitles[item] }} </div>
          <div class="count"> Count </div>
        </div>
        <div class="items" *ngFor="let code of _.keys(analyticsResponse[item])">
          <div class="list-item">
            <div class="title"> {{ cleanData(code, 0) }} </div>
            <div class="name"> {{ cleanData(code, 1) }} </div>
            <ion-badge color="light"> {{ analyticsResponse[item][code] }} </ion-badge>
          </div>
        </div>
  </div>
</div>

  <ion-fab bottom right>
    <button ion-fab color="primary" [hidden]="!analyticsResponse.totalPatients" (click)="sendReport()" clear>
        <ion-icon name="paper-plane"> </ion-icon>
      </button>
  </ion-fab>
</ion-content>

<ion-footer>
  <footer-menu></footer-menu>
</ion-footer>
