manage-hospitals-page{
  .btn-action{
    font-size: 1.7rem !important;
  }
  .icon-action{
    font-size: 2.8rem !important;
    margin-left: 5px !important;
  }
  .item-inner{
    border-bottom: 0 !important;
  }
  ion-item{
    border-bottom: 0.55px solid #c8c7cc !important;
  }
  .rejected-text{
    color: color($colors, danger) !important;
    border-color: color($colors, danger) !important;
    font-size: 1.0em !important;
  }
}
