<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Manage Hospitals
    </ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="segment" (ionChange)="updateHospitals()">
      <ion-segment-button value="local">
        Custom
      </ion-segment-button>
      <ion-segment-button value="cloud">
        Public
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="this.segment == 'local'">
    <ion-item *ngFor="let hospital of localhospitals;">
      <div item-left>
        <h3>{{hospital?.hospitalDetail.name}}</h3>
        <p [innerHtml]="helper.getAddress(hospital?.hospitalDetail)"></p>
      </div>
      <div item-right *ngIf="hospital.approvalStatus !== 'rejected'">
        <button ion-button color="danger" outline class="btn-action" (click)="openRejectPrompt(hospital)">REJECT<ion-icon name="close" class="icon-action"></ion-icon></button>
        <button ion-button color="secondary" outline class="btn-action" (click)="approveHospital(hospital)">APPROVE<ion-icon name="checkmark" class="icon-action"></ion-icon></button>
      </div>
      <span item-right class="review-status-text rejected-text" *ngIf="hospital.approvalStatus == 'rejected'">
        {{this.hospital.approvalStatus}}
      </span>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="this.segment == 'cloud'">
    <ion-item *ngFor="let hospital of cloudhospitals;">
      <div item-left>
        <h3>{{hospital?.name}}</h3>
        <p [innerHtml]="helper.getAddress(hospital)"></p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
