manage-card{
  .bbLinesContainer{
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }
  .custom-btn{
    border-color: #888181 !important;
    color: #2C4099 !important;
    background-color: #e1e1e1 !important;
  }
  .info-text-cntr{
    margin-top: 10vh !important;
  }
  .hint-text-cntr{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  button.custom-btn.activated{
    color: #fff !important;
    background-color: #2C4099 !important;
    opacity: 1 !important;
  }
  .selected-attribute-btn{
    border-color: #ffde00 !important;
    color: #343434 !important;
    background-color: rgba(255, 222, 0, 0.18) !important;
  }
  button.selected-attribute-btn.activated{
    color: #fff !important;
    background-color: #ffde00 !important;
    opacity: 1 !important;
  }
  .assigned-attribute-btn{
    border-color: #343434 !important;
    color: #343434 !important;
    background-color: rgba(52, 52, 52, 0.4) !important;
  }
  button.assigned-attribute-btn.activated{
    color: #fff !important;
    background-color: #343434 !important;
    opacity: 1 !important;
  }

  .scroll-content {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  ion-input {
    margin: 0 !important;
  }

  ion-item {
    border-top: unset !important;
  }

  ion-label {
    margin-bottom: 0 !important;
    margin-left: 0 !important;
  }

  .radio-group .item-inner {
    border: 0 !important;
  }

  .item-85{
    .input-cover{
      width: 85% !important;
    }
    .item-cover{
      width: 85% !important;
    }
  }

  .radio-container {
    margin: 0 !important;
    border-bottom: 1px solid #ddd;

    .radio {
      margin-right: 10px !important;
    }
  }

  .checkbox-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .radio-label {
    padding-left: 16px;
  }
  ion-scroll{
    position: relative;
    display: block;
    overflow: scroll;
  }
  .has-img-ctr{
    height: 68vh !important;
  }
  .no-img-ctr{
    height: 100vh !important;
  }
}
