<ion-header>
  <ion-navbar color="light" *ngIf="cardMappingType == 'mapping_creation'|| cardMappingType == 'cardApproval'">
    <ion-title>{{cardMappingType == 'cardApproval' ? 'Global Card Request' : 'Manage Card'}}</ion-title>
    <ion-buttons left *ngIf="cardMappingType != 'cardApproval'">
      <button ion-button icon-only (tap)="viewCtrl.dismiss()" clear>
        <ion-icon name="close" class="modal-close-button"> </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-navbar color="primary" *ngIf="cardMappingType == 'patient_creation_manual' || cardMappingType == 'patient_creation_scan'">
    <ion-title>
      Patient Form
    </ion-title>
    <ion-buttons end *ngIf="cardMappingType != 'mapping_creation'">
      <button ion-button (click)="savePatient()" [disabled]="isFormInValid(patientForm)" clear>
        Save
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="image-container" id="capture" *ngIf="cardMappingType !== 'patient_creation_manual'">
    <img [src]="'data:image/png;base64,' + image" class="card-scan-img" *ngIf="image && cardMappingType != 'cardApproval'" #scannedCardImg/>
    <img [src]="image" class="card-scan-img" *ngIf="image && cardMappingType == 'cardApproval'" #scannedCardImg/>
    <div class="bbLinesContainer">
      <bb-line *ngFor="let key of _.keys(lines);let i = index" [params]="{ words:lines[key], imageData: imageData, lineIndex: i, currentSelection:currentSelection , containerType:containerType , currentSelectedAttribute: currentSelectedAttribute, currentSelectedBoxes: currentSelectedBoxes, attributes: attributes }" (selectionEmitter)="onSelection($event)"></bb-line>
    </div>
  </div>

  <div *ngIf="cardMappingType == 'cardApproval'">
    <ion-list no-lines>
      <div *ngFor="let attribute of card.cardDetails">
        <ion-item *ngIf="attribute.name">
          <b item-left>
            {{attribute.name}} :
          </b>
          <span item-right color="primary">
            {{attribute.extractedText}}
          </span>
        </ion-item>
      </div>
    </ion-list>
  </div>
  <!-- <div class="image-container" id="capture2" style="display:none !important">
    <img [src]="'data:image/png;base64,' + image" class="card-scan-img" *ngIf="image" #scannedCardImg/>
    <div class="bbLinesContainer" style="position: absolute !important; top: 150px; z-index: 999;width: 100% !important;display: flex;flex-direction: column;lex: 1 1 auto;">
      <bb-line *ngFor="let key of _.keys(lines);let i = index" style="display: flex;" [params]="{words:lines[key], imageData: imageData, lineIndex: i, currentSelection: currentSelection}" (selectionEmitter)="onSelection($event)"></bb-line>
    </div>
  </div>
  <img [src]="'data:image/png;base64,' + image" class="card-scan-img-1"/> -->
  <!-- <canvas id="canvas" [width]="imageData.width" [height]="imageData.height" *ngIf="imageData"></canvas> -->
  <ion-list *ngIf="cardMappingType == 'mapping_creation'">
    <div *ngIf="isMapping">
      <button ion-button outline class="custom-btn" [ngClass]="getBtnClass(attribute)" *ngFor="let attribute of attributes;let i = index" (click)="map(attribute.name, i)">{{attribute.name}}</button>
      </div>

      <div class="info-text-cntr center" *ngIf="!isMapping && !mappingCompleted">
        <div>Select any rectangle box to to start mapping the corresponding fields</div>
        <div class="hint-text-cntr">OR</div>
        <div>
          <button ion-button color="primary" (click)="toggleMapping()">
            Start Mapping
          </button>
        </div>
      </div>

        <ion-list *ngIf="!isMapping && mappingCompleted" no-lines>
          <div *ngFor="let attribute of attributes">
            <ion-item *ngIf="attribute.mappedData && attribute.mappedData.boundingArea">
                  <b item-left>
                    {{attribute.name}} :
                  </b>
                  <span item-right color="primary">
                    {{attribute.mappedData.boundingWord}}
                  </span>
                </ion-item>
            </div>

        </ion-list>
  </ion-list>

  <ion-scroll scrollY="true" [ngClass]="cardMappingType == 'patient_creation_manual' ? 'no-img-ctr' : 'has-img-ctr'" [hidden]="cardMappingType != 'patient_creation_manual' && cardMappingType != 'patient_creation_scan'">
    <ion-list no-bounce>
      <form #patientForm="ngForm" novalidate #patientFormElement>
        <ion-item>
          <ion-label stacked color="primary"> Room </ion-label>
          <ion-input [(ngModel)]="patient.room" name="room" type="text" #room="ngModel" (ionFocus)="onFocus($event)"> </ion-input>
        </ion-item>

        <ion-item [ngClass]="cardMappingType == 'patient_creation_scan' ? 'item-85' : ''">
          <ion-label stacked color="primary" class="input-label required-input"> Name </ion-label>
          <ion-input autocomplete="on" autocorrect="on" [(ngModel)]="patient.name" name="name" type="text" (ionFocus)="onFocus($event)" #name="ngModel" required> </ion-input>
          <ion-icon name='qr-scanner' item-right (click)="startExtraction('First Name', 'name', true)" *ngIf="cardMappingType == 'patient_creation_scan'"> </ion-icon>
        </ion-item>

        <ion-item [ngClass]="cardMappingType == 'patient_creation_scan' ? 'item-85' : ''">
          <ion-label stacked color="primary" class="input-label required-input"> Date of Birth </ion-label>
          <ion-datetime name="dateOfBirth" displayFormat="MM-DD-YYYY" pickerFormat="MM-DD-YYYY" (ionFocus)="onFocus($event)" [(ngModel)]="patient.dateOfBirth" [max]="maxDate" required> </ion-datetime>
          <ion-icon name='qr-scanner' item-right (click)="startExtraction('DOB', 'dateOfBirth')" *ngIf="cardMappingType == 'patient_creation_scan'"> </ion-icon>
        </ion-item>

        <ion-list radio-group [(ngModel)]="patient.sex" name="sex" class="radio-container" required>
          <ion-label stacked color="primary" class="radio-label required-input"> Sex </ion-label>
          <div class="checkbox-container">
            <ion-item class="radio-group checkbox">
              <ion-radio value="M" item-left></ion-radio>
              <ion-label>Male</ion-label>
            </ion-item>

            <ion-item class="radio-group checkbox">
              <ion-radio value="F" item-left></ion-radio>
              <ion-label>Female</ion-label>
            </ion-item>
          </div>
        </ion-list>

        <ion-item [ngClass]="cardMappingType == 'patient_creation_scan' ? 'item-85' : ''">
          <ion-label stacked color="primary" class="input-label required-input"> MR/FIN </ion-label>
          <ion-input autocomplete="on" autocorrect="on" [(ngModel)]="patient.medicalRecordNumber" (ionFocus)="onFocus($event)" name="fin" type="text" #fin="ngModel" required> </ion-input>
          <ion-icon name='qr-scanner' item-right (click)="startExtraction('MR No', 'medicalRecordNumber')" *ngIf="cardMappingType == 'patient_creation_scan'"> </ion-icon>
        </ion-item>

        <ion-item [ngClass]="cardMappingType == 'patient_creation_scan' ? 'item-85' : ''">
          <ion-label stacked color="primary" class="input-label required-input"> Acct </ion-label>
          <ion-input autocomplete="on" autocorrect="on" [(ngModel)]="patient.accountNumber" (ionFocus)="onFocus($event)" name="accountNumber" type="text" #accountNumber="ngModel" required> </ion-input>
          <ion-icon name='qr-scanner' item-right (click)="startExtraction('Account Number', 'accountNumber')" *ngIf="cardMappingType == 'patient_creation_scan'"> </ion-icon>
        </ion-item>

        <ion-item [ngClass]="cardMappingType == 'patient_creation_scan' ? 'item-85' : ''">
          <ion-label stacked color="primary"> Reffering Doctor </ion-label>
          <ion-input autocomplete="on" autocorrect="on" [(ngModel)]="patient.referringDoctor" (ionFocus)="onFocus($event)" name="referringDoctor" type="text" #referredBy="ngModel"> </ion-input>
          <ion-icon name='qr-scanner' item-right (click)="startExtraction('Referring Doctor', 'referringDoctor', true)" *ngIf="cardMappingType == 'patient_creation_scan'"> </ion-icon>
        </ion-item>

        <ion-item [ngClass]="cardMappingType == 'patient_creation_scan' ? 'item-85' : ''">
          <ion-label stacked color="primary"> Date of Admission</ion-label>
          <ion-datetime name="dateOfAdmission" min="{{getMinAdmissionDate()}}" (ionFocus)="onFocus($event)" max="{{moment().format('')}}" displayFormat="MM-DD-YYYY" pickerFormat="MM-DD-YYYY" [(ngModel)]="patient.dateOfAdmission"> </ion-datetime>
          <ion-icon name='qr-scanner' item-right (click)="startExtraction('Admission Date', 'dateOfAdmission')" *ngIf="cardMappingType == 'patient_creation_scan'"> </ion-icon>
        </ion-item>
      </form>
    </ion-list>
  </ion-scroll>

</ion-content>

<ion-footer *ngIf="cardMappingType == 'mapping_creation' || cardMappingType == 'cardApproval'">
 <ion-toolbar *ngIf="cardMappingType == 'cardApproval'">
   <ion-buttons left>
     <button ion-button clear (click)="launchRejectAlert()">Reject</button>
   </ion-buttons>

   <ion-buttons right>
     <button ion-button clear (click)="approveCard()">Approve</button>
   </ion-buttons>
 </ion-toolbar>
 <ion-toolbar *ngIf="cardMappingType == 'mapping_creation'">
   <ion-buttons left>
     <button ion-button clear *ngIf="isMapping" (click)="done()">Done</button>
   </ion-buttons>
   <button ion-button clear *ngIf="!isMapping" (click)="launchAlert()" block style="height: 25px !important;">Save mapping</button>

   <ion-buttons right *ngIf="isMapping">
     <button ion-button clear (click)="PrevSelection()" [disabled]="this.currentSelection && this.currentSelection.lineIndex == 0 && this.currentSelection.wordIndex == 0">Previous</button>
     <button ion-button clear (click)="nextSelection()">Next</button>
   </ion-buttons>
 </ion-toolbar>
</ion-footer>
