manage-subscriptions {
  .center {
    text-align: center !important;
  }

  .subscriptions-list {
    margin-bottom: 0 !important;
  }

  .subscription-item span.button-inner {
    font-size: medium;
  }

  .scroll-content {
    overflow-y: scroll !important;
  }
  
  .cards-container{
    overflow-y: scroll !important;
  }
}

.no-results {
  & {
    text-align: center;
    font-size: 1.5rem;
    margin: auto;
  }

  ion-icon {
    font-size: 5rem !important;
  }

  ion-icon.icon,
  p {
    color: darken(color($colors, light), 10%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
  }
}
