<ion-header>
  <div class="patient-card" *ngIf="patient">
    <div class="buttons">
      <button color="white" ion-button icon-only navPop clear>
        <ion-icon name='close'> </ion-icon>
      </button>
    </div>

    <div class="detail-content">
      <div class="patient-name"> {{ patient.name }} </div>

      <div class="personal-details">
        <div class="dob">
          <div class="details-title"> DOB </div>
          <div class="details-value"> {{ patient.dateOfBirth | date:'MM/dd/yyyy' }} </div>
        </div>
        <div class="age">
          <div class="details-title"> Age </div>
          <div class="details-value"> {{ moment().diff(patient.dateOfBirth, 'years') }} </div>
        </div>
        <div class="sex">
          <div class="details-title"> Sex </div>
          <div class="details-value"> {{ patient.sex }} </div>
        </div>
        <div class="medical-record-no">
          <div class="details-title"> MR No. </div>
          <div class="details-value"> {{ patient.medicalRecordNumber }} </div>
        </div>
      </div>

      <div class="hospital-details">
        <div class="admitting-doctor">
          <div class="details-title"> Admitting Doctor </div>
          <div class="details-value"> {{ patient.referringDoctor }} </div>
        </div>
        <div class="date-of-admission">
          <div class="details-title"> Date of Admission</div>
          <div class="details-value"> {{ moment(patient.dateOfAdmission).format('MM/DD/YYYY') }} </div>
        </div>
        <div class="room">
          <div class="details-title"> Room No </div>
          <div class="details-value"> {{ patient.room }} </div>
        </div>
      </div>
    </div>
  </div>
</ion-header>

<ion-content no-bounce>
  <!-- Entities -->
  <div class="entities-container">
    <ion-list *ngFor="let type of getAllEntities()" [ngClass]="(type=='notes'?'notes-list ':'')" [ngStyle]="(recordSettings[type]||{}).isEnabled?{}:{display:'none'}">
      <div *ngIf="type!='notes' && (recordSettings[type]||{}).isEnabled" permission [dataKeep]="getRecordViewPermissions(type)">
        <ion-list-header>
          <strong>{{ getCategoryTitle(type) }}</strong>
          <button color="secondary" ion-button item-right (tap)="openEntitiesList(type)" permission [dataKeep]="getRecordCreatePermissions(type)">
        <ion-icon name='md-add'></ion-icon>&nbsp;Add
      </button>
        </ion-list-header>
        <div *ngFor="let group of _.keys(groupedItems[type])" #slidingItem>
          <ion-item class="item" #item>
            <div class="group-date">{{ moment(group, 'YYYYMMDD').format('MM/DD/YYYY') }}</div>
            <div class="group-items">
              <div *ngFor="let item of _.keys(groupedItems[type][group])" [ngClass]="groupedItems[type][group][item].billStatus == 'Billed' ? 'item billed': 'item' ">
                <span class="codes" [ngStyle]="type=='em_codes'?{width:'auto'}:{}"> {{ groupedItems[type][group][item].code }} </span>
                <span class="item-name"> {{ groupedItems[type][group][item].name }} </span>
              </div>
            </div>
          </ion-item>
        </div>
      </div>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="background-white">
    <div class="footer-buttons">
      <button ion-button block color="primary" class="margin-left" (tap)="bill()">
        Bill Records
      </button>
    </div>
  </ion-toolbar>
</ion-footer>
