<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="viewCtrl.dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>About subscription</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ul class="subscription-terms-list">
    <li>Payment will be charged to the corresponding Account linked with the provided default credit/debit card at confirmation of purchase</li>
       <li>Subscription automatically renews unless cancelled at least 24-hours before the end of the current period</li>
       <li>Account will be charged for renewal within 24-hours prior to the end of the current period, and identify the cost of the renewal</li>
       <li>Subscriptions may be managed by the user and can be cancelled by going to the Manage Subscriptions options from within the app after purchase</li>    
  </ul>
</ion-content>
<ion-footer>
<button ion-button full block color="secondary" (click)="agree()">
  Agree & Continue
</button>
</ion-footer>
