<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <div class="logo">
      <img src="assets/img/default_logo.png" alt="logo" class="imageLogo">
    </div>
    <form #loginForm="ngForm" novalidate>
      <ion-item>
        <ion-label stacked color="primary" class="required-input">Email</ion-label>
        <ion-input autocomplete="on" autocorrect="on" [(ngModel)]="email" name="email" type="email" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked color="primary" class="required-input">Password</ion-label>
        <ion-input autocomplete="on" autocorrect="on" minlength="6" [(ngModel)]="password" name="password" type="password" required>
        </ion-input>
      </ion-item>
      <br/>
      <ion-row responsive-sm>
        <button ion-button block (tap)="onLogin()" [disabled]="loginForm.invalid" type="submit" color="primary">Login</button>
      </ion-row>
    </form>
    <br/>
    <ion-row responsive-sm>
      <button ion-button block clear color="primary" type="button" [navPush]="forgotPasswordPage">
        Forgot password
      </button>
    </ion-row>
  </ion-list>


</ion-content>


<ion-footer [hidden]="!showFooter">
  <!-- login slide -->
  <ion-toolbar color="light">
    <button ion-button block color="primary" clear [navPush]="registerPage">Create Account</button>
  </ion-toolbar>
</ion-footer>
