<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="viewCtrl.dismiss()">
          <ion-icon name="ios-arrow-back-outline"></ion-icon> Back
        </button>
    </ion-buttons>
    <ion-title>
      Confirm Registration
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <h4>A verification code has been sent your E-mail<br/> {{email}}</h4>
    <form #confirmRegistrationForm="ngForm" novalidate>
      <ion-item>
        <ion-label stacked color="primary" class="required-input">Confirmation Code</ion-label>
        <ion-input autocomplete="on" autocorrect="on" [(ngModel)]="confirmationCode" minlength="6" maxlength="6" name="confirmationCode" type="number" item-right required>
        </ion-input>
      </ion-item>
      <br>
      <button ion-button block (click)="onConfirmRegistration()" [disabled]="confirmRegistrationForm.invalid" type="submit" color="primary">Continue</button>
    </form>
  </ion-list>

</ion-content>
